<span>
    <div class="ui basic label">
      <a href="/show">
        <i class="settings icon"></i>Статистика та перегляд</a>
    </div>
  </span>

<h2 class="right">Надходження</h2>

<table class="ui red selectable celled table">
  <thead>
    <tr>
      <th>Накладна</th>
      <th>Кількість товарів</th>
      <th>Укладач</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>
        <a [routerLink]="['/show', item.id]"><b>{{ item.article }}</b></a>
      </td>
      <td>{{ item.items && item.items.length ? item.items.length : 0 }}</td>
      <td>Serhii Kocherezhko</td>
    </tr>
  </tbody>
</table>